# Ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables file
.env

# Ignore other specific files
*.log
